.input {
  border: 1px solid rgb(174, 245, 246);
  outline: none;
  min-height: 50px;
  min-width: 500px;
  padding: 10px;
}
.input_result{
  border: 1px solid rgb(226, 50, 106);
  height: 50px;
  max-width: 300px;
  outline: none;
  padding: 10px;
  margin-right: 10px;
}
button {
  border: 1px solid rgb(174, 245, 246);
  outline: none;
  min-height: 50px;
  min-width: 150px;
  padding: 10px;
  background-color: beige;
}
.result {
  color: #000;
  font-size: 30px;
  text-transform: capitalize;
}
.result_2 {
  color: #000;
  font-size: 30px;
  text-transform: uppercase;

}


.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}